.fft-module{

padding:20px;

}

.parametres{

display:grid;

grid-template-columns:
1fr 1fr;

gap:20px;

}

.graphiques{

display:grid;

grid-template-columns:
1fr 1fr;

gap:20px;

margin-top:20px;

}

canvas{

border:1px solid #ccc;

width:100%;

background:white;

}

.quiz{

margin-top:30px;

padding:20px;

background:#eef3f8;

border-radius:10px;

}

.resultat{

margin-top:20px;

font-size:1.1rem;

}
