body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

/* MENU */
.top-menu {
    display: flex;
    background: #2c3e50;
    color: white;
}

.menu-item {
    padding: 15px 20px;
    cursor: pointer;
}

.menu-item:hover {
    background: #34495e;
}

.menu-item.active {
    background: #e67e22;
}

/* CONTENU */
.container {
    padding: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

/* Conteneur pictogramme */
.picto-container {
    display: inline-block;
    position: relative;
    margin: 0 3px;
}

/* Image */
.picto {
    width: 40px;
    height: auto;
    transition: transform 0.25s ease;
    cursor: pointer;
}

/* Effet loupe */
.picto-container:hover .picto {
    transform: scale(2.2);
    position: relative;
    z-index: 10;
}
