body{
    margin:0;
    background:#101820;
    color:white;
    font-family:Arial;
}

header{
    padding:20px;
    text-align:center;
}

nav{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:center;
    padding:10px;
}

.tab-btn{
    padding:10px 15px;
    border:none;
    border-radius:10px;
    background:#223040;
    color:white;
    cursor:pointer;
}

.tab-btn.active{
    background:#00b4d8;
}

.tab{
    display:none;
    padding:20px;
}

.tab.active{
    display:block;
}

.card{
    background:#172432;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
    gap:20px;
}

.controls label{
    display:block;
    margin-bottom:15px;
}

canvas{
    background:white;
    border-radius:15px;
}

#rgbColor,
#cmyColor{
    width:100%;
    height:80px;
    border-radius:10px;
    margin-top:15px;
}

.formula{
    font-size:2rem;
    text-align:center;
    font-weight:bold;
}

.danger{
    border-left:6px solid red;
}

.success{
    border-left:6px solid lime;
}
